In [ ]:
pip install plotly

In [ ]:
pip install shap

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.patches as mpatches
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.inspection import permutation_importance
import shap
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
import statsmodels.api as sm
import scipy.stats as stats
import category_encoders as ce
import xgboost as xgb

In [8]:
df = pd.read_csv("Capstone Project Data/merged_data.csv")
df.head()

,Unnamed: 0,state,year,adopted_under1,code,birthstotal,adoptions_per_1000,population_women,abortions,abortion_rate_1000,...,mothers_labor_force_rate,fathers_labor_force_rate,earning_ratio_women_to_men_uni_grads,births,ave_mother_age,ave_num_of_prenatal_visits,status,fostercare_rate_<1_per_1000,abortion_ban,political_ideology
0,0,California,2000,225.0,CA,531959,0.42,7578978,235706.2,31.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,5,Democrat
1,1,California,2005,161.0,CA,548882,0.34,7787065,206357.2,26.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7,5,Democrat
2,2,California,2006,152.0,CA,562440,0.38,7799350,213702.2,27.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.3,5,Democrat
3,3,California,2007,177.0,CA,566414,0.23,7803744,220846.0,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.6,5,Democrat
4,4,California,2008,172.0,CA,551779,0.29,7828450,212151.0,27.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.6,5,Democrat

In [12]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df['year'] = df['year'].astype('float').astype('int').astype('str')